# variables in python

In [3]:
first_name = 'ABHILASH'
last_name = 'REDDY'
city = 'HYDERABAD'
state= 'TELANGANA'
country = 'INDIA'
age = 27
Is_married = 'false'
skills = ['HTML', 'CSS' , 'JS', 'react','PYTHON']
person_info = {
    'firstname' : 'Asabeneh',
    'lastname' : 'Yetayeh',
    'country' : 'Finland',
    'city' : 'Helsinki'
    }

# printing the values stored in the variable

In [8]:
print(first_name)
print(len(first_name))
print(last_name)
print(len(last_name))
print(country)
print(city)
print(age)
print(Is_married)
print(skills)
print(person_info)

ABHILASH
8
REDDY
5
INDIA
HYDERABAD
27
false
['HTML', 'CSS', 'JS', 'react', 'PYTHON']
{'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

# Declaring multiple variables in one frame

In [9]:
first_name,last_name,country,age,Is_married = "abhilash","reddy","india","27","false"

In [11]:
print(first_name,last_name,country,age,Is_married)
print(first_name)
print(last_name)
print(country)
print(age)
print(Is_married)

abhilash reddy india 27 false
abhilash
reddy
india
27
false